*{
    padding: 0;
    margin: 0;

}

body{
    font-size: 1rem;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}
/* formatação de layout*/
#cabecalho{
    background-color: #f7b600;
    text-align: center;
}

#arealogo, #areamenu{
    padding: 10px;
}
#principal{
    width: 60rem;
    margin: 0px auto;
    padding: 15px;
}
.postagens{
    width: 660px;
    float: left;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.conteudo__lateral{
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

#lateral{
    width: 200px;
    float: right;
    margin-bottom:20px ;
}

#rodape{
    text-align: center;
    padding: 15px;
    clear: both;
    background:#ccc;
}
/* formatação menu*/
a{
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}

#cabecalho a:link,#cabecalho a:visited{
    color: #fff;
    padding: 8px 12px;
}

#cabecalho a:hover{
    color: #f7b600;
    background: #fff;
    text-decoration: none;
}

/* formatação geral */
h1{
    color: #4e4e4e;
    font-size: 2.5rem;
}
.branco{
    color: white;
}

h2{
    color: #f7b600;
}
h3{
    font-size: medium;
    color: #565656;
    background: #ccc;
    padding: 0.5rem;
}
.data__postagem{
    font-size: 0.8rem;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.postagem__lateral{
    font-size: 0.8em;
    padding: 5px;
    
}